
p {
  text-align: center;
  font-size: 7em;
  margin: 20px 0 20px 0;
}

p:nth-child(1) a {
  color: #fff;
  font-family: Monoton;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
}

p:nth-child(1) a:hover {
  color: #FF1177;
}

p a:hover {
  color: #ffffff;
}

/*REEEEEEEEEEESPONSIVE*/

@media (max-width: 650px) {
  #container {
    width: 100%;
  }
  p {
    font-size: 3.5em;
  }
}
